<h3>
  Register
</h3>
<%= form_for user do |f| %>
  <fieldset>
    <%= f.label :username %>
    <%= f.text_field :username, placeholder: "username" %>

    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "email@example.com" %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "password123" %>

    <%= f.submit "Register" %>
  </fieldset>
<% end %>

<ul class="form-errors">
  <% if @errors %>
    <% @errors.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  <% end %>
</ul>
