<h3>
  <%= link_to users_product.name, '#', class: "users-product", data: {id: users_product.id} %>
</h3>
<div class="users-product-details-container" id="users-product-details-<%= users_product.id %>">
  <div class="users-product-details">
    <p>
      Category: <%= users_product.category %>
    </p>
    <p>
      Serving size: <%= users_product.serving_size %><%= users_product.product.serving_unit %>
    </p>
    <p>
      Date eaten: <%= users_product.date_eaten %>
    </p>
    <p>
      Price: <%= users_product.price %>
    </p>
  </div>
  <%= link_to "Edit", edit_product_users_product_path(product_id: users_product.product, id: users_product), class: "users-product-edit-toggle", data: {users_product_id: users_product.id } %>
  <%= link_to "Delete", product_users_product_path(product_id: users_product.product, id: users_product), class: "users-product-delete", data: {users_product_id: users_product.id } %>
  <div class="users-product-edit" id="users-product-<%= users_product.id %>-edit"></div>
</div>
