<h3>
  <%= link_to product.name, '#', class: "users-product", data: {id: product.id} %>
</h3>
<div id="users-product-details-<%= users_product.id %>">
  <p>
    Category: <%= product.category %>
  </p>
  <p>
    Serving size: <%= product.serving_size %><%= product.serving_unit %>
  </p>
  <p>
    Date eaten: <%= users_product.date_eaten %>
  </p>
  <p>
    Price: <%= users_product.price %>
  </p>
</div>
