<div id="product-<%= product.id %>">
  <h3>
    <%= link_to product.name, new_product_users_product_path(product), class: "product", data: {id: product.id} %>
  </h3>
  <div class="product-details" id="product-details-<%= product.id %>">
    <p>
      Category: <%= product.category %>
    </p>
    <p>
      Serving size: <%= product.serving_size %><%= product.serving_unit %>
    </p>
  </div>
</div>
