<!DOCTYPE html>
<html>
<head>
  <title>Nutrition Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <% if current_user %>
      <p>
        <%= render partial: '/sessions/user_nav' %>
      </p>
    <% else %>
      <p>
        <%= render partial: '/sessions/login_nav' %>
      </p>
    <% end %>
  </nav>
  <div id="login-container"></div>
  <h1>Welcome to Nutrition Tracker</h1>
  
  <%= yield %>

</body>
</html>
