<!DOCTYPE html>
<html>
<head>
  <title>Nutrition Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <p>
      <%= link_to "Home", :root %> | 
      <span id="session-links">
      <% if current_user %>
        <%= render partial: '/sessions/user_nav' %>
      <% else %>
        <%= render partial: '/sessions/login_nav' %>
      <% end %>
      <span>
    </p>
  </nav>
  <div id="login-container"></div>
  <h1>Welcome to Nutrition Tracker</h1>
  
  <main>
    <%= yield %>
  </main>

</body>
</html>
