<!DOCTYPE html>
<html>
<head>
  <title>Nutrition Tracker</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <p>
      <%= link_to "Home", :root %> | 
      <span id="session-links">
      <% if current_user %>
        <%= render partial: '/sessions/user_nav' %>
      <% else %>
        <%= render partial: '/sessions/login_nav' %>
      <% end %>
      <span>
    </p>
    <% unless current_user %>
      <div id="login-container">
        <%= render partial: '/sessions/form' %>
      </div>
      <div id="register-container">
        <%= render partial: '/users/form', locals: {user: User.new} %>
      </div>
    <% end %>
    <h1>Welcome to Nutrition Tracker</h1>
  </nav>
  
  <main>
    <%= yield %>
  </main>

</body>
</html>
